<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
   
   <div *ngIf="searching" class="spinner-container">
       <ion-spinner></ion-spinner>
   </div>

    <ion-list inset no-lines class="searchContainer">
        <ion-item *ngFor="let item of items" (click)="itemSelected(item)">
            {{item.name}}
        </ion-item>
    </ion-list>
	
	<button ion-button block color="light" (click)="male()" >Male</button>
    <button ion-button block color="light" (click)="female()" >Female</button>
    <button ion-button block color="danger" (click)="refresh()" >Refreshdb</button>
	
</ion-content>
